# PostgreSQL
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_DB=POSTGRES_DB

# Database
DATASOURCE_URL=DATASOURCE_URL

# Security
JWT_SECRET_KEY=JWT_SECRET_KEY
JWT_EXPIRATION=JWT_EXPIRATION
JWT_REFRESH_TOKEN_EXPIRATION=JWT_REFRESH_TOKEN_EXPIRATION

# Spring
SERVER_PUBLIC_ADDRESS=SERVER_PUBLIC_ADDRESS

# Email
MAIL_HOST=MAIL_HOST
MAIL_PORT=MAIL_PORT
MAIL_USERNAME=MAIL_USERNAME
MAIL_PASSWORD=MAIL_PASSWORD

# Stripe payments
STRIPE_API_KEY=STRIPE_API_KEY
STRIPE_WEBHOOK_SECRET=STRIPE_WEBHOOK_SECRET

# Domain
EMAIL_DOMAIN=EMAIL_DOMAIN

# Verification
VERIFICATION_TOKEN_EXPIRY_HOURS=VERIFICATION_TOKEN_EXPIRY_HOURS
VERIFICATION_TOKEN_LENGTH=VERIFICATION_TOKEN_LENGTH